
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 40px;
    min-width: 100px;
    
 }
 .img{
    margin-top: 10px;
 }
 img{
    width: 70px;
    border-radius: 10px;
    height: 70px;
    margin-top: 0;
    margin-left: 0px;
    padding-left: 0px;
}

a{
    color: rgb(18, 57, 116);
}
a:hover{
    color: rgb(110, 11, 11);
    border: solid rgb(124, 14, 14);
    padding: 5px;
    border-radius: 10px;

}
button{
    background-color: aquamarine;
    border-radius: 30px;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
button:hover{
    background-color: brown;
}
input{
    border: solid black;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
    font-style: italic;
    font-size: large;
    margin-left: 50px;
}
#rooms{
    border: none;
    background-color: transparent;
    
}
label {
    display: none;
}
























