*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7cm;
   
}
body{
    background-color: linear-gradient(100deg, #fadbd8,#85c1e9);
    animation: gradient-animation 5s ease infinite;

}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;

}

p{
    margin: 10px 0;
}

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}

.l-heading{
    font-size: 40px;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
    color: black;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
} 

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    color: #333;
    background: #f7c08a;
}


nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7c08a;
    height: 60px;
  }
  
 
  #img{
    width: 100px;
    height: 80px;
    position: relative;
    margin-top: 10%;

  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    
  }

  
  
  .link a{
    font-weight: 500px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 20px;
    padding-right: 15px;
    font-family: Playfair Display;
  }
  
.link a:hover {
    color: #935116 ;
  }

li{
    float:left;
}

.dropdown li{
    float: center;
    display: block;
    text-align: left;
    padding-left:0px;
    width: 100%;
}

.dropdown li:hover{
    color:#d4af37;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    
}


.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.link:hover .dropdown {
    display:block;
}

#showcase{
    background: url('../img/HD-wallpaper-carribean-sun-holiday-colors-beautiful-fun-magic-palms-beach-splendor-nature.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2cm;
    
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7cm;
}

#home-info{
    height: 400px;

}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../img/HD-wallpaper-sunset-architecture-pretty-resort-sun-grass-beautiful-sea-beach-graphy-nice-calm-beauty-luxury-harmony-lovely-houses-ocean-design-sky-pool-palms-water-pleasant-cool-nature-style.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}


.box{
    float: left;
    width: 33.3%;
    padding: 20px;
    text-align: center;
}


.fa-location-dot{
    font-size: 40px;
}
.fa-phone{
    font-size: 40px;
}
.fa-envelope{
    font-size: 40px;
}

.box h3{
    padding-bottom: 0;
}


#main-footer{
    text-align: center;
    background: #444;
    color: #fff;
}

#about-info .info-right{
   float: right;
   width: 50%;
   min-height: 100%;

}

#about-info .info-right img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

#testimonials{
    height: 600px;
    background: url('../img/istockphoto-171259869-612x612.jpg') no-repeat center center/cover;
    padding-top: 100px;
    

}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials  h2{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#contact-form .form-group{
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea{

    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input, 
#contact-form textarea:focus{
    outline: none;
    border-color: #f7c08a;

}